<h1>學生看的{{user.email}}課程頁</h1>
<h2>學生看的{{user.email}}課程頁</h2>
<h3>學生看的{{user.email}}課程頁</h3>
<h4>學生看的{{user.email}}課程頁</h4>
<h5>學生看的{{user.email}}課程頁</h5>
<h6>學生看的{{user.email}}課程頁</h6>
<p>{{course.name}}</p>
<p>{{course.dayOfWeek}}</p>