<h1>學生{{user.email}}的個人頁</h1>
<h2>學生{{user.email}}個人頁</h2>
<h3>學生{{user.email}}個人頁</h3>
<h4>學生{{user.email}}個人頁</h4>
<h5>學生{{user.email}}個人頁</h5>
<h6>學生{{user.email}}個人頁</h6>
<br>
<a class="navbar-brand" href="/undefined">編輯個人資訊</a>