<h1>學生{{user.email}}的個人頁</h1>
<hr />
<img class="img-responsive center-block mb-5" src="{{user.image}}"
  style="width: 250px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
<p>學生姓名  {{user.name}}</p>
<p>學生介紹  {{user.intro}}</p>
<p>上課總時數 {{user.totalHours}}小時</p>
<p>上課總時數排名 {{userRank}}</p>
<br>

<a class="navbar-brand" href="/undefined">編輯個人資訊</a>

{{!-- 預約課程 --}}
<h3>我的預約課程</h3>
<hr />
{{#each reservation}}
<p>預約課程:{{this.courseId}}</p>
<p>預約日:{{this.date}}</p>
<p>預約時段:{{this.time}}</p>
<p>預約時長:{{this.duration}}</p>
<hr />
{{/each }}
<br>
<br>

{{!-- 上課紀錄 --}}
<h3>我的上課紀錄</h3>
<hr />
{{#each history}}
<div>
  <p>上課名稱{{this.courseId}}：上課日期{{this.date}}</p>
  <a href="/comments/{{this.id}}"><button>前往評價</button></a>
</div>
<hr />
{{/each }}
<br>
<br>

{{!-- 評價 --}}
<h3>我的評價紀錄</h3>
<hr />
{{#each comment}}
<p>{{this.score}}</p>
<p>{{this.comment}}</p>
<p>{{this.createdAt}}</p>
<hr />
{{/each }}